{% extends '_layout.html' %}
{% load static %}
{% block title %}تیپ هاب - صفحه اصلی{% endblock %}
{% block content %}
<main>
    <section class="py-5">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h2 class="title-section">تازه ترین ویدیو ها</h2>
                <a href="{% url 'videos:video_list_view' %}" class="btn custom-btn">
                    نمایش همه
                </a>
            </div>
            <div class="row">
                <!-- item -->
                {% for video in newest_videos %}
                <div class="col-md-6 col-lg-4 my-2">
                    <div class="custom-bg">
                        <div class="video-card">
                            <a href="{{ video.get_absolute_url }}" class="position-relative d-block ">
                                {% if video.cover_image %}
                                <img src="{{ video.cover_image.url }}" alt="{{ video.title }}" class="img-fluid w-100 h-100">
                                {% else %}
                                <img src="{% static 'image/p1.jpg' %}" alt="{{ video.title }}" class="img-fluid w-100 h-100">
                                {% endif %}
                                <div class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div class="d-flex align-items-center justify-content-between video-category-time">
                                    <h6>{{ video.category }}</h6>
                                    <span class="vid-time">{{ video.duration }}</span>
                                </div>
                                <div class="video-card-details">
                                    <div>
                                        <span>{{ video.viewers_by_ip.count }}</span>
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div>
                                        <span>{{ video.likes.count }}</span>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div>
                                        <span>{{ video.comments.count }}</span>
                                        <i class="fa fa-comment"></i>
                                    </div>
                                </div>
                                <div class="article-overlay"></div>
                            </a>

                        </div>
                        <a href="{{ video.get_absolute_url }}">
                            <h5 class="video-card-title m-2">
                                {{ video.get_description }}
                            </h5>
                        </a>
                        <div class="my-3 pb-3 mx-2">
                            <i class="fa fa-user  ml-1 "></i>
                            <span>{{ video.teacher }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- end item -->

            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h2 class="title-section">برترین ویدیوها </h2>
                <a href="{% url 'videos:video_list_view' %}" class="btn custom-btn">
                    نمایش همه
                </a>
            </div>
            <div class="row">
                <!-- item -->
                {% for video in top_videos %}
                <div class="col-md-6 col-lg-4 my-2">
                    <div class="custom-bg">
                        <div class="video-card">
                            <a href="{{ video.get_absolute_url }}" class="position-relative d-block ">
                                {% if video.cover_image %}
                                <img src="{{ video.cover_image.url }}" alt="{{ video.title }}" class="img-fluid w-100 h-100">
                                {% else %}
                                <img src="{% static 'image/p1.jpg' %}" alt="{{ video.title }}" class="img-fluid w-100 h-100">
                                {% endif %}
                                <div class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </div>
                                <div class="d-flex align-items-center justify-content-between video-category-time">
                                    <h6>{{ video.category }}</h6>
                                    <span class="vid-time">{{ video.duration }}</span>
                                </div>
                                <div class="video-card-details">
                                    <div>
                                        <span>{{ video.viewers_by_ip.count }}</span>
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div>
                                        <span>{{ video.likes.count }}</span>
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div>
                                        <span>{{ video.comments.count }}</span>
                                        <i class="fa fa-comment"></i>
                                    </div>
                                </div>
                                <div class="article-overlay"></div>
                            </a>

                        </div>
                        <a href="{{ video.get_absolute_url }}">
                            <h5 class="video-card-title m-2">
                                {{ video.get_description }}
                            </h5>
                        </a>
                        <div class="my-3 pb-3 mx-2">
                            <i class="fa fa-user  ml-1 "></i>
                            <span>{{ video.teacher }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- end item -->
            </div>
        </div>
    </section>
</main>
{% endblock %}