{% extends '_layout.html' %}
{% load static %}
{% block title %}تیپ هاب - ویرایش پروفایل{% endblock %}
{% block header_ref %}
<style>
    .profile-image-div {
        position: relative;
    }

    .profile-image-div i {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(128, 128, 128, 0.3);
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        cursor: pointer;
        font-size: 16pt;
    }
</style>
{% endblock %}
{% block content %}
<main>
    <section class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-11 col-lg-10">
                    <form method="post" action="{% url 'accounts:edit_profile' %}" class="user-panel custom-bg" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="user-panel-box">
                            <div class="user-panel-profile">
                                <div class="profile-image-div">
                                    {% if request.user.image %}
                                    <img id="preview-image" src="{{ request.user.image.url }}" alt="">
                                    {% else %}
                                    <img id="preview-image" src="{% static 'image/sutdent-prof.png' %}" alt="">
                                    {% endif %}
                                    <i id="image_change" class="fa fa-camera"></i>
                                </div>
                            </div>
                            {{ form.image }}
                            <!-- item -->
                            <div class="user-panel-field">
                                <i class="fa fa-user"></i>
                                {{ form.fullname }}
                            </div>
                            <!-- item -->
                            <div class="user-panel-field">
                                <i class="fa fa-phone"></i>
                                {{ form.phone }}
                            </div>
                            <!-- item -->
                            <div class="user-panel-field w-100">
                                <i class="fa fa-envelope"></i>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3 ">
                            <!-- <button type="submit" class="btn custom-btn w-50">اعمال تغییرات</button> -->
                            <input class="btn custom-btn w-50" type="submit" value="اعمال تغییرات">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
{% block footer_ref %}
<script>
    document.getElementById('image_change').onclick = function() {
        document.getElementById('select-image').click();
    };

    document.getElementById("select-image").addEventListener("change", function() {
        imgPreview = document.getElementById('preview-image')
        const files = document.getElementById('select-image').files[0];
        if (files) {
            const fileReader = new FileReader();
            fileReader.readAsDataURL(files);
            fileReader.addEventListener("load", function() {
                imgPreview.style.display = "block";
                imgPreview.src = this.result
            });
        }
    })
</script>
{% endblock %}