{% extends '_layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}تیپ هاب - بازیابی گذرواژه{% endblock %}
{% block content %}
<div style="margin: 150px;"></div>
<main>
    <section class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-7 col-lg-5">
                    <div class="custom-bg p-2">
                        <form method="post">
                            {% csrf_token %}
                            <div class="field">
                                <i class="fa fa-lock"></i>
                                {% render_field form.new_password1 class+="password-input" placeholder=form.new_password1.label %}
                            </div>
                            <div class="field">
                                <i class="fa fa-lock"></i>
                                {% render_field form.new_password2 class+="password-input" placeholder=form.new_password2.label %}
                            </div>
                            <div class="my-3">
                                <button class="btn custom-btn w-100">تغییر گذرواژه</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div style="margin: 150px;"></div>
{% endblock %}