{% extends '_layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}تیپ هاب - تایید شماره تلفن{% endblock %}
{% block content %}
<main>
    <div style="margin: 150px;"></div>
    <section class="py-5">
        <div class="container">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3 class="mb-5 d-flex align-items-center justify-content-start">
                    <span>
                        گذزواژه با موفقیت تغییر کرد
                    </span>
                    <div class="mx-2"></div>
                    <i class="fa fa-check-circle text-success"></i>
                </h3>
                <p>
                    تا <span id="time-left">5</span> ثانیه دیگر به <a href="#">صفحه پروفایل</a> هدایت میشوید
                </p>
            </div>
        </div>
    </section>
    <div style="margin: 150px;"></div>
</main>
{% endblock %}
{% block footer_ref %}
<script>
    const p2e = s => s.replace(/[۰-۹]/g, d => '۰۱۲۳۴۵۶۷۸۹'.indexOf(d))
    setInterval(function() {
        let seconds = document.getElementById("time-left")
        let count = p2e(seconds.innerText) - 1
        seconds.innerText = count;
        if (count <= 0) {
            window.location.replace("{% url 'accounts:user_panel' %}");
        }
    }, 1100);
</script>
{% endblock %}