{% extends '_layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}تیپ هاب - بازیابی گذرواژه{% endblock %}
{% block content %}
<main>
    <div style="margin: 100px;"></div>
    {% if email_not_exists %}
    <div class="container alert alert-danger" role="alert">
        کاربری با این ایمیل یافت نشد
    </div>
    {% endif %}
    {% if email_send %}
    <div class="container alert alert-success" role="alert">
        ایمیلی برای شما ارسال شد
    </div>
    {% endif %}
    <section class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-7 col-lg-5">
                    <div class="custom-bg p-2">
                        <div class="my-3 text-center">بازیابی گذرواژه</div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="field">
                                <i class="fa fa-envelope"></i>
                                {% render_field form.email class+="email-input" placeholder=form.email.label %}
                            </div>
                            <div class="my-3">
                                <button class="btn custom-btn w-100">درخواست بازیابی گذرواژه</button>
                            </div>
                        </form>
                        <div class="">
                            <p class="small text-center my-3">
                                <a href="{% url 'register' %}">ثبت‌نام نکرده‌اید؟ برای ثبت‌نام کلیک کنید.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div style="margin: 100px;"></div>
{% endblock %}