{% extends '_layout.html' %}
{% load static %}
{% block title %}تیپ هاب - ثبت نام{% endblock %}
{% block content %}
<main>
    <section class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-7 col-lg-5">
                    <div class="custom-bg p-2">
                        <div class="my-3 text-center">عضویت در سایت</div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="field">
                                <i class="fa fa-user"></i>
                                {{ register_form.fullname }}
                            </div>
                            {% for error in register_form.fullname.errors %}
                            <p style="color: red;">{{ error }}</p>
                            {% endfor %}
                            <div class="field">
                                <i class="fa fa-phone"></i>
                                {{ register_form.phone }}
                            </div>
                            {% for error in register_form.phone.errors %}
                            <p style="color: red;">{{ error }}</p>
                            {% endfor %}
                            <div class="field">
                                <i class="fa fa-envelope"></i>
                                {{ register_form.email }}
                            </div>
                            {% for error in register_form.email.errors %}
                            <p style="color: red;">{{ error }}</p>
                            {% endfor %}
                            <div class="field">
                                <i class="fa fa-lock"></i>
                                {{ register_form.password }}
                                <button><i class="fa fa-eye"></i></button>
                            </div>
                            {% for error in register_form.password.errors %}
                            <p style="color: red;">{{ error }}</p>
                            {% endfor %}
                            <div class="my-3">
                                <button class="btn custom-btn w-100">عضویت</button>
                            </div>
                            <div class="pb-2 border-bottom">
                                <span class="small">حساب کاربری دارید؟</span>
                                <a href="{% url 'login' %}" class="small">
                                    ورود به حساب
                                </a>
                            </div>
                        </form>
                        <div class="">
                            <p class="small text-center my-3">عضویت از طریق حساب‌های کاربری دیگر</p>
                            <div class="">
                                <div class="social-accunt">
                                    <a title="Google" class="" href="">
                                        <img height="24" src="{% static 'image/google.svg' %}" class="d-block m-auto">
                                    </a>
                                    <a title="GitHub" class="" href="">
                                        <img height="24" src="{% static 'image/github.svg' %}" class="d-block m-auto">
                                    </a>
                                    <a title="LinkedIn" class="" href="">
                                        <img height="24" src="{% static 'image/linkedin.svg' %}" class="d-block m-auto">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}