{% extends '_layout.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}تیپ هاب - ثبت نام{% endblock %}
{% block content %}
<main>
    <section class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-7 col-lg-5">
                    <div class="custom-bg p-2">
                        <div class="my-3 text-center">عضویت در سایت</div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="field">
                                <i class="fa fa-user"></i>
                                {{ form.fullname }}
                            </div>
                            {% for error in form.fullname.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            <div class="field">
                                <i class="fa fa-phone"></i>
                                {{ form.phone }}
                            </div>
                            <p class="d-none text-danger" id="digit-error">شماره تلفن نمیتواند شامل حروف باشد</p>
                            {% for error in form.phone.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            <div class="field">
                                <i class="fa fa-envelope"></i>
                                {{ form.email }}
                            </div>
                            <p class="d-none text-danger" id="email-error">ایمیل وارد شده معتبر نیست</p>
                            {% for error in form.email.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            <div class="field">
                                <i class="fa fa-lock"></i>
                                {{ form.password }}
                                <button id="password-visibility">
                                    <i id="eye-icon" class="fa fa-eye"></i>
                                </button>
                            </div>
                            {% for error in form.password.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            <div class="my-3">
                                <button class="btn custom-btn w-100">عضویت</button>
                            </div>
                            <div class="pb-2 border-bottom">
                                <span class="small">حساب کاربری دارید؟</span>
                                <a href="{% url 'accounts:login' %}" class="small">
                                    ورود به حساب
                                </a>
                            </div>
                        </form>
                        <div>
                            <p class="small text-center my-3">عضویت از طریق حساب‌های کاربری دیگر</p>
                            <div>
                                <div class="social-accunt">
                                    <form action="{% provider_login_url 'google' %}" method="post" class="w-50 d-flex justify-content-center">
                                        {% csrf_token %}
                                        <button type="submit" class="w-100 border py-2 px-4">
                                            <img height="24" src="{% static 'image/google.svg' %}" class="d-block m-auto">
                                        </button>
                                    </form>
                                    <form action="{% provider_login_url 'github' %}" method="post" class="w-50 d-flex justify-content-center">
                                        {% csrf_token %}
                                        <button type="submit" class="w-100 border py-2 px-4">
                                            <img height="24" src="{% static 'image/github.svg' %}" class="d-block m-auto">
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block footer_ref %}
<script>
    document.getElementById("id_phone").addEventListener("keyup", function() {
        if (isNaN(document.getElementById("id_phone").value)) {
            document.getElementById("digit-error").classList.remove("d-none")
            document.getElementById("digit-error").classList.add("d-block")
        } else {
            document.getElementById("digit-error").classList.remove("d-block")
            document.getElementById("digit-error").classList.add("d-none")
        }
    })
</script>
<script>
    const validateEmail = (email) => {
        return String(email)
            .toLowerCase()
            .match(
                /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
    };
    document.getElementById("id_email").addEventListener("keyup", function(e) {
        e.preventDefault()
        if (!validateEmail(document.getElementById("id_email").value)) {
            document.getElementById("email-error").classList.remove("d-none")
            document.getElementById("email-error").classList.add("d-block")
        } else {
            document.getElementById("email-error").classList.remove("d-block")
            document.getElementById("email-error").classList.add("d-none")
        }
    })
</script>
<script>
    document.getElementById("password-visibility").addEventListener("click", function(e) {
        e.preventDefault()
        let password = document.getElementById("id_password");
        let icon = document.getElementById("eye-icon");
        if (password.type === "password") {
            password.type = "text";
            icon.classList = "fas fa-eye-slash"
        } else {
            password.type = "password";
            icon.classList = "fa fa-eye"
        }
    });
</script>
{% endblock %}