{% extends '_layout.html' %}
{% load static %}
{% block title %}تیپ هاب - ثبت نام{% endblock %}
{% block content %}
<main>
    <section class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-7 col-lg-5">
                    <div class="custom-bg p-2">
                        <div class="my-3 text-center">عضویت در سایت</div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="field">
                                <i class="fa fa-user"></i>
                                <input class="email-input" dir="rtl" type="text" placeholder="نام و نام خانوادگی" dir="ltr" maxlength="50" required="">
                            </div>
                            <div class="field">
                                <i class="fa fa-phone"></i>
                                <input class="email-input" type="text" placeholder="شماره تلفن" dir="ltr" maxlength="50" required="">
                            </div>
                            <div class="field">
                                <i class="fa fa-envelope"></i>
                                <input class="email-input" type="email" placeholder="پست الکترونیک" dir="ltr" maxlength="50" required="">
                            </div>
                            <div class="field">
                                <i class="fa fa-lock"></i>
                                <input class="password-input" dir="ltr" type="password" placeholder="گذرواژه">
                            </div>
                            <div class="mr-1">
                                <div>
                                    <input type="checkbox" class="checkbox-input" tabindex="0">
                                    <label class="small">نمایش گذرواژه</label>
                                </div>
                            </div>
                            <div class="my-3">
                                <button class="btn custom-btn w-100">عضویت</button>
                            </div>
                            <div class="pb-2 border-bottom">
                                <span class="small">حساب کاربری دارید؟</span>
                                <a href="{% url 'login' %}" class="small">
                                    ورود به حساب
                                </a>
                            </div>
                        </form>
                        <div class="">
                            <p class="small text-center my-3">عضویت از طریق حساب‌های کاربری دیگر</p>
                            <div class="">
                                <div class="social-accunt">
                                    <a title="Google" class="" href="">
                                        <img height="24" src="{% static 'image/google.svg' %}" class="d-block m-auto">
                                    </a>
                                    <a title="GitHub" class="" href="">
                                        <img height="24" src="{% static 'image/github.svg' %}" class="d-block m-auto">
                                    </a>
                                    <a title="LinkedIn" class="" href="">
                                        <img height="24" src="{% static 'image/linkedin.svg' %}" class="d-block m-auto">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}