{% extends '_layout.html' %}
{% load static %}
{% block title %}تیپ هاب - بازگردانی گذرواژه{% endblock %}
{% block content %}
<main>
    <section class="py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-7 col-lg-5">
                    <div class="custom-bg p-2">
                        <form class="">
                            <div class="field">
                                <i class="fa fa-lock"></i>
                                <input class="password-input" dir="ltr" type="password" placeholder="گذرواژه جدید">
                            </div>
                            <div class="field">
                                <i class="fa fa-lock"></i>
                                <input class="password-input" dir="ltr" type="password" placeholder=" تکرار گذرواژه جدید">
                            </div>
                            <div class="my-3">
                                <button class="btn custom-btn w-100">تغییر گذرواژه</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblcok %}