{% extends '_layout.html' %}
{% load static %}
{% block title %}تیپ هاب - پنل کاربری{% endblock %}
{% block content %}
<main>
    <section class="py-5 my-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-8 col-lg-8">
                    <div class="p-3 custom-bg user-details user-item my-2">
                        <div class="row">
                            <div class="col-lg-6 mb-4">
                                <p>نام و نام خانوادگی:</p>
                                <h6 class=" font-weight-bold">{{ request.user.fullname }}</h6>
                            </div>
                            <div class="col-lg-6 mb-4">
                                <p>شماره تلفن همراه:</p>
                                <h6 class=" font-weight-bold">{{ request.user.phone }}</h6>
                                {% if request.user.is_phone_verified %}
                                <a href="#" class="btn bg-success text-white disabled">تایید شده</a>
                                {% else %}
                                <a href="{% url 'phone_verifaction' %}" class="btn bg-primary text-white">تایید کردن</a>
                                {% endif %}
                            </div>
                            <div class="col-lg-12 mb-4">
                                <p>پست الکترونیک:</p>
                                <h6 class=" font-weight-bold">{{ request.user.email }}</h6>
                                {% if request.user.is_email_verified %}
                                <a href="#" class="btn bg-success text-white disabled">تایید شده</a>
                                {% else %}
                                <a href="#" class="btn bg-primary text-white">تایید کردن</a>
                                {% endif %}
                            </div>
                            <div class="col-12">
                                <div class="text-center">
                                    <a href="{% url 'edit_profile' %}">
                                        <i class="fa fa-edit"></i>
                                        ویرایش اطلاعات شخصی
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>
{% endblock %}