<nav class="navbar navbar-expand-md nav-menu-pc d-none d-md-flex">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home:index' %}">
                    <span><i class="fa fa-home text-dark"></i></span>
                    <span class="text-dark">خانه</span>
                </a>
            </li>
            {% for category in categories %}
            {% if not category.parent %}
            <li class="nav-item dropdown">
                <a class="nav-link text-dark" href="{{ category.slug }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>{{ category.title }}</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: -40px; top: 90%; padding: 0;">
                    {% for sub_category in category.children.all %}
                    {% if not sub_category.children.all %}
                    <li><a class="dropdown-item px-2 py-3" href="{{ sub_category.slug }}">{{ sub_category.title }}</a></li>
                    {% else %}
                    <li class="dropdown-submenu" style="width: 240px;">
                        <a class="dropdown-item d-flex align-items-center justify-content-between px-2 py-3" href="{{ sub_category.slug }}">
                            <span>{{ sub_category.title }}</span>
                            <span><i class="fa fa-arrow-left"></i></span>
                        </a>
                        <ul class="dropdown-menu" style="padding: 0;">
                            {% for sub_sub_category in sub_category.children.all %}
                            <li><a class="dropdown-item px-2 py-3" href="{{ sub_sub_category.slug }}">{{ sub_sub_category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>