<nav class="nav-menu nav-menu-pc  d-none d-md-flex px-4" id="navbar">
    <li id="" class="mx-3 menu-item"><a href="" class="nav-menu-item ">زبان های برنامه نویسی </a>
        <ul class="sub-menu">
            <a href="">جاوا</a>
            <a href="">پایتون </a>
            <a href="">آیتم</a>
            <a href=""> آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
        </ul>
    </li>
    <li id="" class="mx-3 menu-item"><a href="" class="nav-menu-item">فریمورک </a>
        <ul class="sub-menu">
            <a href="">جنگو</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
        </ul>
    </li>
    <li id="" class="mx-3 menu-item"><a href="" class="nav-menu-item">طراحی وب</a>
        <ul class="sub-menu">
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
        </ul>
    </li>
    <li id="" class="mx-3 menu-item"><a href="" class="nav-menu-item">مهارت های ارتباطی</a>
        <ul class="sub-menu">
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
            <a href="">آیتم</a>
        </ul>
    </li>
</nav>