/* My Styles */
.header-teacher {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

.teacher-image {
    width: 150px !important;
    border-radius: 50%;
    border: 1px solid black;
}

.teacher-title {
    font-size: 16pt !important;
    margin-bottom: 10px;
}

.w-400-px {
    width: 400px !important;
}

.social-teacher {
    margin-left: 10px;
    color: blue;
}

.social-teacher i {
    font-size: 20pt;
}

.instagram-color {
    color: #f56040 !important;
}

.twitter-color {
    color: #1da1f2 !important;
}

.github-color {
    color: #333 !important;
}

.gitlab-color {
    color: #fca326 !important;
}

.linkedin-color {
    color: #00a0dc !important;
}

.telegram-color {
    color: #0088cc !important;
}

.email-color {
    color: #ea4335 !important;
}

.website-color {
    color: #fbbc05 !important;
}

.value-cart-teacher {
    font-weight: bold;
}

.form-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-number input {
    width: 200px;
    height: 50px;
    border: 2px solid #0088cc !important;
    padding: 5px 10px;
    border-radius: 10px;
}

.form-number button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    color: #0088cc;
    border: 2px solid #0088cc !important;
}

.form-number button:disabled,
.form-number button[disabled] {
    color: gray !important;
    border: 2px solid gray !important;
}


.form-input-defualt input {
    width: 100%;
}


.input-for-defualt {
    background-color: #EEE;
    padding: 10px 15px;
    border-radius: 8px;
    direction: rtl;
    text-align: inherit;
}