<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'includes/_header_references.html' %}
    <title>{% block title %}{% endblock %}</title>
    {% block header_ref %}{% endblock %}
</head>

<body>
    {% include 'includes/header.html' %}
    {% include 'includes/navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'includes/footer.html' %}
    {% include 'includes/_footer_references.html' %}
    {% block footer_ref %}{% endblock %}
</body>

</html>