{% extends '_layout.html' %}
{% load static %}
{% load filters %}
{% block title %}تیپ هاب - {{ video.title }}{% endblock %}
{% block content %}
<main>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div>
                        <!-- video -->
                        <div class="video-player-box">
                            <div class="video-icon">
                                <div class="btn video-btn" onclick="playvideo()" id="videobtn">
                                    <img src="{% static 'image/play-video-btn.png' %}" alt="">
                                </div>
                            </div>
                            <div class="video">
                                <video width="100%" id="myVideo">
                                    <source src="{{ video.video.url }}" type="video/mp4">
                                </video>
                                {% if video.cover_image %}
                                <img src="{{ video.cover_image.url }}" width="100%" height="100%" class="position-absolute video-poster" alt="">
                                {% else %}
                                <img src="https://via.placeholder.com/350x180" width="100%" height="100%" class="position-absolute video-poster" alt="">
                                {% endif %}

                                <div class="video-overlay"></div>
                                <div class="video-description px-2 text-white">
                                    <p>{{ video.duration }}</p>
                                </div>
                                <h5 class="close-btn" onclick="stopPlayer()">X</h5>
                            </div>
                        </div>
                        <!-- end video -->
                        <!-- title -->
                        <h3 class="video-title my-3">
                            {{ video.title }}
                        </h3>
                        <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                            <p class="color78">{{ video.jalali_published_at }}</p>
                            <div class="d-flex align-items-center view-like">
                                <div class="mx-3">
                                    <span>{{ video.viewers_by_ip.count }}</span>
                                    <i class="fa fa-eye"></i>
                                </div>
                                <div>
                                    <span id="likes-count">{{ video.likes.count }}</span>
                                    <i id="like-btn" class="{% if is_liked %}fa fa-heart liked{% else %}far fa-heart{% endif %}" type='button' aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <!-- description -->
                        <div class="border-bottom pb-3">
                            <h4 class="my-3">درباره فیلم</h4>
                            <p class="color78">
                                {{ video.get_description }}
                            </p>
                            <div class="labels">
                                <h4 class="my-3">برچسب ها</h4>
                                <ul class="d-flex align-items-center">
                                    <li><a href="#" title="">#گردشگری</a></li>
                                    <li><a href="#" title="">#تفریحی </a></li>
                                    <li><a href="#" title="">#دشت نور</a></li>
                                    <li><a href="#" title="">#مکان های تفریحی</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end des -->
                        <!-- comments -->
                        <div id="comment-list">
                            <div class="py-3">
                                <span>{{ video.comments.count }}</span>
                                <span>نظر</span>
                            </div>
                            <form method="post" id="comment-view-scroll">
                                {% csrf_token %}
                                <textarea class="w-100 p-2 comment-area" name="comment_body" id="comment-body" cols="30" rows="10" placeholder="دیدگاه خود را بنویسید"></textarea>
                                <input type="hidden" name="parent_id" id="parent_id" value="0">
                                <div class="d-flex align-items-center justify-content-end pt-3">
                                    <button class="btn custom-btn">ارسال نظر</button>
                                </div>
                            </form>
                            <!-- comment -->
                            <div class="comments-list">
                                {% for comment in comments %}
                                {% if comment.parent == None %}
                                <div class="comment my-3 p-2 infinite-item">
                                    <div class=" d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center justify-content-center">
                                            {% if comment.user.image %}
                                            <img src="{{ comment.user.image.url }}" alt="عکس {{ comment.user.fullname }}" class="user-profile">
                                            {% else %}
                                            <img src="{% static 'image/sutdent-prof.png' %}" alt="عکس {{ comment.user.fullname }}" class="user-profile">
                                            {% endif %}
                                            <p class="user-name pr-2">{{ comment.user.fullname }}</p>
                                        </div>

                                        <p class="comment-date-time">{{ comment.commented_at|custom_timesince }}</p>
                                    </div>
                                    <p class="px-4 py-2 comment-text text-justify">
                                        {{ comment.comment }}
                                    </p>

                                    <div class="d-flex align-items-center justify-content-end reply" type='button'>
                                        <i class="fa fa-reply"></i>
                                        <p onclick="replyTo('{{ comment.id }}', '{{ comment.comment }}')">پاسخ به این نظر</p>
                                    </div>
                                </div>
                                {% for reply in comment.replies.all %}
                                <div class="comment my-3 p-2 comment-child infinite-item">
                                    <div class=" d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center justify-content-center">
                                            {% if reply.user.image %}
                                            <img src="{{ reply.user.image.url }}" alt="عکس {{ reply.user.fullname }}" class="user-profile">
                                            {% else %}
                                            <img src="{% static 'image/sutdent-prof.png' %}" alt="عکس {{ reply.user.fullname }}" class="user-profile">
                                            {% endif %}
                                            <p class="user-name pr-2">{{ reply.user.fullname }}</p>
                                        </div>

                                        <p class="comment-date-time">{{ reply.commented_at|custom_timesince }}</p>
                                    </div>
                                    <p class="px-4 py-2 comment-text text-justify">
                                        {{ reply.comment }}
                                    </p>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% if comments.has_other_pages %}
                        <a class="d-none infinite-more-link" href="?page={{ comments.next_page_number }}"><i class="fa fa-chevron-left"></i></a>
                        {% endif %}
                    </div>
                </div>
                <!-- main -->
                <!-- side -->
                <aside class="col-md-4 ">
                    <div class="custom-bg p-2 teacher-card">
                        <div class="border-bottom py-3 text-center">
                            <h4>درباره استاد</h4>
                        </div>
                        <a href="{{ video.teacher.get_absolute_url }}" class="d-flex align-items-center py-3 card">
                            {% if video.teacher.user.image %}
                            <img src="{{ video.teacher.user.image.url }}" alt="student" class="teacher-profile">
                            {% else %}
                            <img src="{% static 'image/sutdent-prof.png' %}" alt="student" class="teacher-profile">
                            {% endif %}
                            <p class="user-name pr-2 text-dark">
                                {{ video.teacher.user.fullname }}
                            </p>
                        </a>
                        <p class="color78 teacher-description py-3">
                            {{ video.teacher.about }}
                        </p>
                        <div class="d-flex align-items-center justify-content-center flex-wrap">
                            {% if video.teacher.instagram %}
                            <a class="social-teacher text-dark" href="https://instagram.com/{{ video.teacher.instagram }}">
                                <i class="fab fa-instagram"></i>
                            </a>
                            {% endif %}
                            {% if video.teacher.twitter %}
                            <a class="social-teacher text-dark" href="https://twitter.com/{{ video.teacher.twitter }}">
                                <i class="fab fa-twitter"></i>
                            </a>
                            {% endif %}
                            {% if video.teacher.github %}
                            <a class="social-teacher text-dark" href="https://github.com/{{ video.teacher.github }}">
                                <i class="fab fa-github"></i>
                            </a>
                            {% endif %}
                            {% if video.teacher.gitlab %}
                            <a class="social-teacher text-dark" href="https://gitlab.com/{{ video.teacher.gitlab }}">
                                <i class="fab fa-gitlab"></i>
                            </a>
                            {% endif %}
                            {% if video.teacher.linkedin %}
                            <a class="social-teacher text-dark" href="https://www.linkedin.com/in/{{ video.teacher.linkedin }}">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            {% endif %}
                            {% if video.teacher.telegram %}
                            <a class="social-teacher text-dark" href="https://t.me/{{ video.teacher.telegram }}">
                                <i class="fab fa-telegram"></i>
                            </a>
                            {% endif %}
                            {% if video.teacher.email %}
                            <a class="social-teacher text-dark" href="mailto:{{ video.teacher.email }}">
                                <i class="fa fa-envelope"></i>
                            </a>
                            {% endif %}
                            {% if video.teacher.website %}
                            <a class="social-teacher text-dark" href="{{ video.teacher.website }}">
                                <i class="fa fa-globe"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </aside>

                <!-- end side -->
            </div>
        </div>
    </section>

</main>
{% endblock %}

{% block footer_ref %}
<script>
    const videobtn = document.querySelector('.video-btn');
    const video = document.querySelector('.video');
    const videotag = document.querySelector('video')
    const videoDescription = document.querySelector('.video-description')
    const closeBtn = document.querySelector('.close-btn')
    const videoPoster = document.querySelector('.video-poster')
    const videoOverlay = document.querySelector('.video-overlay')

    function stopPlayer() {
        videobtn.style.display = "block";
        closeBtn.style.display = 'none';
        videoPoster.style.display = 'inline'
        video.style.zIndex = '-1'
        videotag.pause()
        videotag.style.borderRadius = '20px'
        videoDescription.style.display = 'flex'
        videotag.controls = false
        videotag.style.borderRadius = '15px'
        videoOverlay.style.display = 'block'
    };

    function playvideo() {
        videobtn.style.display = "none";
        video.style.zIndex = '22222'
        videotag.autoplay = true
        videotag.play()
        videotag.style.borderRadius = '20px'
        videotag.controls = true
        videoDescription.style.display = 'none'
        closeBtn.style.display = 'block'
        videoPoster.style.display = 'none'
        videoOverlay.style.display = 'none'
    }
</script>
<script>
    document.getElementById("like-btn").addEventListener("click", function() {
        icon = document.getElementById("like-btn")
        $.ajax({
            type: "get",
            url: "{% url 'videos:like_video' video.id %}",
            success: function(result) {
                if (result.response === "like") {
                    icon.classList = "fa fa-heart liked"
                    console.log(result.response);
                } else {
                    icon.classList = "far fa-heart"
                    console.log(result.response);
                }
                document.getElementById("likes-count").innerText = result.count
            },
        })
    })
</script>
<script>
    function replyTo(comment_id, comment_body) {
        $('html, body').stop(true, true).animate({
            scrollTop: $("#comment-view-scroll").offset().top - 220
        }, 500)
        document.getElementById("parent_id").value = comment_id
        document.getElementById("comment-body").placeholder = `در حال پاسخ دادن به '${comment_body}'`
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.js"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.comments-list')[0],
        handler: function(direction) {
            console.log("HERE");
        },
        offset: 'bottom-in-view',
        onBeforePageLoad: function() {
            $('.spinner-border').show();
        },
        onAfterPageLoad: function() {
            $('.spinner-border').hide();
        }
    });
</script>
{% endblock %}